{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "__DEVELOPMENT__": true,
    "store": true
  },
  "rules": {
    "react/jsx-quotes": 0,
    "jsx-quotes": [2, "prefer-double"],
    "react/jsx-no-bind": 0,
    "react/jsx-closing-bracket-location": 0
  }
}
