<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:400,300,200,500,700" rel="stylesheet" type="text/css">
    <script type="text/json" id="__INITIAL_STATE__">{{{ initialState }}}</script>
  </head>
  <body>
    <div id="root">{{{ markup }}}</div>
    <script src="assets/bundle.js"></script>
  </body>
</html>
